<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="css/custom_bootstrap.css" />
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body class="list-group ng-scope" ng-controller="StoreController as store">

    <header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center">– an Angular store –</h2>
    </header>

    <!-- Product Controller -->
    <div class="list-group-item" ng-repeat="product in store.products">
      <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>

      <!-- Image Gallery -->
      <div class="gallery" ng-show="product.images.length" ng-controller='GalleryController as gallery'>
        <img ng-src="{{product.images[gallery.current]}}" class="img img-circle img-thumbnail center-block"/>
        <ul class="clearfix">
          <li class="small-image pull-left thumbnail" ng-repeat="image in product.images track by $index">
            <a href ng-click="gallery.setCurrent($index)"> <img ng-src="{{image}}" /> </a>
          </li>
        </ul>
      </div>

      <!-- Pane -->
      <section ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
          <li ng-class="{ active:panel.isSelected(1) }"> <a href ng-click="panel.selectTab(1)">Description</a> </li>
          <li ng-class="{ active:panel.isSelected(2) }"> <a href ng-click="panel.selectTab(2)">Specifications</a> </li>
          <li ng-class="{ active:panel.isSelected(3) }"> <a href ng-click="panel.selectTab(3)">Reviews</a> </li>
        </ul>
        <div class="panel" ng-show="panel.isSelected(1)">
          <h4>Description</h4>
          <blockquote>{{product.description}}</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(2)">
          <h4>Specifications</h4>
          <blockquote>Shine: {{product.shine}}</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(3)">
          <h4>Reviews</h4>
          <blockquote>None yet</blockquote>
        </div>
      </section>
    </ul>
  </body>
</html>
