<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="css/custom_bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/custom.css" />
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body class="list-group ng-scope" ng-controller="StoreController as store">

    <header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center">– an Angular store –</h2>
    </header>

    <!-- Product Controller -->
    <div class="list-group-item" ng-repeat="product in store.products">
      <product-title></product-title>

      <!-- Image Gallery -->
      <div class="gallery" ng-show="product.images.length" ng-controller='GalleryController as gallery'>
        <img ng-src="{{product.images[gallery.current]}}" class="img img-circle img-thumbnail center-block"/>
        <ul class="clearfix">
          <li class="small-image pull-left thumbnail" ng-repeat="image in product.images track by $index">
            <a href ng-click="gallery.setCurrent($index)"> <img ng-src="{{image}}" /> </a>
          </li>
        </ul>
      </div>

      <!-- Pane -->
      <section ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
          <li ng-class="{ active:panel.isSelected(1) }"> <a href ng-click="panel.selectTab(1)">Description</a> </li>
          <li ng-class="{ active:panel.isSelected(2) }"> <a href ng-click="panel.selectTab(2)">Specifications</a> </li>
          <li ng-class="{ active:panel.isSelected(3) }"> <a href ng-click="panel.selectTab(3)">Reviews</a> </li>
        </ul>
        <div class="panel" ng-show="panel.isSelected(1)">
          <h4>Description</h4>
          <blockquote>{{product.description}}</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(2)">
          <h4>Specifications</h4>
          <blockquote>Shine: {{product.shine}}</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(3)">
          <h4>Reviews</h4>
          <blockquote ng-repeat="review in product.reviews">
            <b>{{review.stars}} Stars</b>
            {{review.body}}
            <footer><cite>{{review.author}} on {{review.createdOn | date}}</cite></footer>
          </blockquote>

          <form name="reviewForm" role="form" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>

            <blockquote>
              <b>{{reviewCtrl.review.stars}} Stars</b>
              {{reviewCtrl.review.body}}
              <footer><cite>{{reviewCtrl.review.author}}</cite></footer>
            </blockquote>

            <h4>Submit a Review</h4>
            <div class="form-group">
              <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]" ng-model="reviewCtrl.review.stars" required>
                <option value="">Rate the Product</option>
              </select>
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="3" ng-model="reviewCtrl.review.body" required></textarea>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" ng-model="reviewCtrl.review.author" required />
            </div>

            <input type="submit" value="Submit" class="btn btn-default" value="Submit Review" />
          </form>
        </div>
      </section>
    </ul>
  </body>
</html>
