<section>
  <ul class="nav nav-pills">
    <li ng-class="{ active:panel.isSelected(1) }"> <a href ng-click="panel.selectTab(1)">Description</a> </li>
    <li ng-class="{ active:panel.isSelected(2) }"> <a href ng-click="panel.selectTab(2)">Specifications</a> </li>
    <li ng-class="{ active:panel.isSelected(3) }"> <a href ng-click="panel.selectTab(3)">Reviews</a> </li>
  </ul>
  <div class="panel" ng-show="panel.isSelected(1)">
    <h4>Description</h4>
    <blockquote>{{product.description}}</blockquote>
  </div>
  <div product-specs class="panel" ng-show="panel.isSelected(2)" >
  </div>
  <div class="panel" ng-show="panel.isSelected(3)">
    <h4>Reviews</h4>
    <blockquote ng-repeat="review in product.reviews">
      <b>{{review.stars}} Stars</b>
      {{review.body}}
      <footer><cite>{{review.author}} on {{review.createdOn | date}}</cite></footer>
    </blockquote>

    <form name="reviewForm" role="form" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>

      <blockquote>
        <b>{{reviewCtrl.review.stars}} Stars</b>
        {{reviewCtrl.review.body}}
        <footer><cite>{{reviewCtrl.review.author}}</cite></footer>
      </blockquote>

      <h4>Submit a Review</h4>
      <div class="form-group">
        <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]" ng-model="reviewCtrl.review.stars" required>
          <option value="">Rate the Product</option>
        </select>
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="3" ng-model="reviewCtrl.review.body" required></textarea>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" ng-model="reviewCtrl.review.author" required />
      </div>

      <input type="submit" value="Submit" class="btn btn-default" value="Submit Review" />
    </form>
  </div>
</section>
